@media screen and (min-width: 360px) {
    html {
        font-size: 3px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 4px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 5px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 6px;
    }
}

@media screen and (min-width: 840px) {
    html {
        font-size: 7px;
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 9px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1320px) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1560px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 2040px){
    html {
        font-size: 17px;
    }
}

@media screen and (min-width: 2160px){
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 2280px){
    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 2400px){
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 2520px){
    html {
        font-size: 21px;
    }
}

@media screen and (min-width: 2640px){
    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 2760px){
    html {
        font-size: 23px;
    }
}

@media screen and (min-width: 2880px){
    html {
        font-size: 24px;
    }
}

@media screen and (min-width: 3000px){
    html {
        font-size: 25px;
    }
}

@media screen and (min-width: 3120px){
    html {
        font-size: 26px;
    }
}

@media screen and (min-width: 3240px){
    html {
        font-size: 27px;
    }
}

@media screen and (min-width: 3360px){
    html {
        font-size: 28px;
    }
}

@media screen and (min-width: 3480px){
    html {
        font-size: 29px;
    }
}

@media screen and (min-width: 3600px){
    html {
        font-size: 30px;
    }
}

@media screen and (min-width: 3720px){
    html {
        font-size: 31px;
    }
}

@media screen and (min-width: 3840px){
    html {
        font-size: 32px;
    }
}

@media screen and (min-width: 3960px){
    html {
        font-size: 33px;
    }
}

@media screen and (min-width: 4080px){
    html {
        font-size: 34px;
    }
}
