.fade-enter-active {
    transition: opacity 0.75s ease-out;
}
.fade-leave-active {
    transition: opacity 0.75s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


.map-switch-enter-active {
    transition: opacity 0.1s ease-out 1.5s;
}
.map-switch-leave-active {
    transition: opacity 0.1s ease-out 0s;
}
.map-switch-enter, .map-switch-leave-to {
    opacity: 0;
}

.slide-right-enter-active {
    transition: transform 0.75s ease-out 0.25s;
}

.slide-right-enter {
    transform: translateX(-100%);
}

.slide-info-enter-active,
.slide-info-leave-active {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.slide-info-enter {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-info-leave-to {
    transform: translateX(100%);
    opacity: 0;
}
