.fade-enter-active {
    transition: opacity 0.75s ease-out;
}
.fade-leave-active {
    transition: opacity 0.75s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


.map-switch-enter-active {
    transition: opacity 0.25s ease-out 1.25s;
}
.map-switch-leave-active {
    transition: opacity 0.25s ease-out 0s;
}
.map-switch-enter, .map-switch-leave-to {
    opacity: 0;
}
