.fade-enter-active {
    transition: opacity 0.75s ease-out;
}
.fade-leave-active {
    transition: opacity 0.75s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.mapchange-enter-active {
    transition: opacity 7.5s ease-out;
}
.mapchange-leave-active {
    transition: opacity 7.5s ease-out;
}
.mapchange-enter, .fade-leave-to {
    background-color: red;
    opacity: 0;
}
