@font-face {
    font-family: 'MarselisPro';
    src: url('../assets/fonts/MarselisPro.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'MarselisPro';
    src: url('../assets/fonts/MarselisPro-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'MarselisPro';
    src: url('../assets/fonts/MarselisPro-Light.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'MarselisPro-Light';
    src: url('../assets/fonts/MarselisPro-Light.otf');
}

@font-face {
    font-family: 'MarselisPro-Bold';
    src: url('../assets/fonts/MarselisPro-Bold.otf');
}
