.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    padding-left: 2rem;
    z-index: 1;
    .panel-title {
        padding-top: 3rem;
        color: #676767;
    }
    .panel-subtitle {
        color: #8a0836;
    }
    .panel-text {
        color: #777777;
    }
}

.map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #cccccc;
    &.region {
        .image {
            transform: scale(1);
        }
    }
    &.country {
        &.tilal-al-ghaf {
            .image {
                transform: translate(-65px, 125px) scale(2.5);;
            }
        }
        &.waterfront-city {
            .image {
                transform: scale(2.5) translate(104px, 170px);
            }
        }
        &.al-zahia {
            .image {
                transform: scale(2.5) translate(-125px, -125px);
            }
        }
    }
    &.city {
        &.tilal-al-ghaf {
            .image {
                transform: scale(5) translate(-44px, 76px);
            }
        }
        &.waterfront-city {
            .image {
                transform: scale(5) translate(103px, 170px);
            }
        }
        &.al-zahia {
            .image {
                transform: scale(5) translate(-168px, -128px);
            }
        }
    }
    &.borough {
        &.tilal-al-ghaf {
            .image {
                transform: scale(20) translate(-44px, 76px);
            }
        }
        &.waterfront-city {
            .image {
                transform: scale(20) translate(103px, 170px);
            }
        }
        &.al-zahia {
            .image {
                transform: scale(20) translate(-168px, -128px);
            }
        }
    }
    &.community {
        &.tilal-al-ghaf {
            .image {
                transform: scale(50) translate(-44px, 76px);
            }
        }
        &.waterfront-city {
            .image {
                transform: scale(50) translate(103px, 170px);
            }
        }
        &.al-zahia {
            .image {
                transform: scale(50) translate(-168px, -128px);
            }
        }
    }
}

.image {
    transition: transform 0.5s ease-out;
}

.menu {
    display: flex;
    flex-direction: column;
}

.controls {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}
