.header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    background-color: $background__header;
    .header-logo {
        height: 3.5rem;
        width: auto;
        margin-left: 8rem;
    }
}
