.cls-1, .cls-319 {
    fill: none;
}

.cls-2 {
    fill: #808285;
}

.cls-3 {
    fill: #808184;
}

.cls-4 {
    fill: #e0dad5;
    stroke-width: 0.35px;
}

.cls-25, .cls-4 {
    stroke: #fff;
}

.cls-24, .cls-25, .cls-27, .cls-319, .cls-4 {
    stroke-miterlimit: 10;
}

.cls-5 {
    fill: #deeef7;
}

.cls-6 {
    fill: #e1f3fc;
}

.cls-7 {
    clip-path: url(#clip-path);
}

.cls-8 {
    clip-path: url(#clip-path-2);
}

.cls-9 {
    clip-path: url(#clip-path-3);
}

.cls-10, .cls-14, .cls-164, .cls-243 {
    fill: #c4c6c8;
}

.cls-11 {
    clip-path: url(#clip-path-4);
}

.cls-12 {
    clip-path: url(#clip-path-5);
}

.cls-13 {
    clip-path: url(#clip-path-6);
}

.cls-14 {
    font-size: 0.27px;
}

.cls-14, .cls-164, .cls-243 {
    font-family: Calibri-Bold, Calibri;
}

.cls-14, .cls-164, .cls-167, .cls-168, .cls-169, .cls-170, .cls-171, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-243, .cls-246, .cls-247, .cls-248, .cls-249, .cls-250 {
    font-weight: 700;
}

.cls-15 {
    clip-path: url(#clip-path-7);
}

.cls-16, .cls-24, .cls-27 {
    fill: #fff;
}

.cls-17 {
    clip-path: url(#clip-path-8);
}

.cls-18 {
    fill: #44bfb8;
}

.cls-19 {
    font-size: 0.15px;
    letter-spacing: 0.01em;
}

.cls-167, .cls-168, .cls-169, .cls-170, .cls-171, .cls-172, .cls-173, .cls-174, .cls-175, .cls-176, .cls-179, .cls-181, .cls-185, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-246, .cls-247, .cls-248, .cls-249, .cls-250, .cls-251, .cls-252, .cls-253, .cls-254, .cls-256, .cls-259, .cls-261, .cls-266, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-35, .cls-37, .cls-38, .cls-42 {
    fill: #72737b;
}

.cls-167, .cls-168, .cls-169, .cls-170, .cls-171, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-246, .cls-247, .cls-248, .cls-249, .cls-250 {
    font-family: DIN-Bold, DIN Bold;
}

.cls-20 {
    font-size: 0.15px;
    letter-spacing: 0.01em;
}

.cls-21 {
    font-size: 0.15px;
}

.cls-22 {
    font-size: 0.15px;
}

.cls-23 {
    font-size: 0.15px;
    letter-spacing: 0em;
}

.cls-24, .cls-27 {
    stroke: #b80c4b;
}

.cls-25, .cls-26, .cls-28 {
    fill: #b80c4b;
}

.cls-26 {
    opacity: 0.4;
}

.cls-27 {
    stroke-width: 0.9px;
}

.cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-35, .cls-37, .cls-38, .cls-42 {
    font-size: 0.19px;
}

.cls-172, .cls-173, .cls-174, .cls-175, .cls-176, .cls-179, .cls-181, .cls-185, .cls-251, .cls-252, .cls-253, .cls-254, .cls-256, .cls-259, .cls-261, .cls-266, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-35, .cls-37, .cls-38, .cls-42 {
    font-family: DIN-Light, DIN Light;
}

.cls-30 {
    letter-spacing: 0em;
}

.cls-31 {
    letter-spacing: -0.02em;
}

.cls-32, .cls-39 {
    letter-spacing: 0em;
}

.cls-33, .cls-41 {
    letter-spacing: -0.01em;
}

.cls-34 {
    letter-spacing: -0.04em;
}

.cls-35 {
    letter-spacing: -0.02em;
}

.cls-36 {
    letter-spacing: 0.02em;
}

.cls-37 {
    letter-spacing: 0.01em;
}

.cls-38 {
    letter-spacing: 0.01em;
}

.cls-40 {
    letter-spacing: -0.04em;
}

.cls-42 {
    letter-spacing: -0.01em;
}

.cls-43 {
    fill: #8f1336;
}

.cls-44 {
    fill: #231f20;
}

.cls-45 {
    fill: #58595b;
}

.cls-46 {
    fill: url(#linear-gradient);
}

.cls-47 {
    fill: url(#linear-gradient-2);
}

.cls-48 {
    fill: url(#linear-gradient-3);
}

.cls-49 {
    fill: url(#linear-gradient-4);
}

.cls-50 {
    fill: url(#linear-gradient-5);
}

.cls-51 {
    fill: url(#linear-gradient-6);
}

.cls-52 {
    fill: url(#linear-gradient-7);
}

.cls-53 {
    fill: url(#linear-gradient-8);
}

.cls-54 {
    fill: url(#linear-gradient-9);
}

.cls-55 {
    fill: url(#linear-gradient-10);
}

.cls-56 {
    fill: url(#linear-gradient-11);
}

.cls-57 {
    fill: url(#linear-gradient-12);
}

.cls-58 {
    fill: url(#linear-gradient-13);
}

.cls-59 {
    fill: url(#linear-gradient-14);
}

.cls-60 {
    fill: url(#linear-gradient-15);
}

.cls-61 {
    fill: url(#linear-gradient-16);
}

.cls-62 {
    fill: #4e4f51;
}

.cls-63 {
    fill: #929497;
}

.cls-64 {
    clip-path: url(#clip-path-9);
}

.cls-65 {
    fill: url(#radial-gradient);
}

.cls-66 {
    fill: url(#radial-gradient-2);
}

.cls-67 {
    fill: url(#radial-gradient-3);
}

.cls-68 {
    fill: url(#radial-gradient-4);
}

.cls-69 {
    fill: url(#radial-gradient-6);
}

.cls-70 {
    fill: url(#radial-gradient-12);
}

.cls-71 {
    fill: url(#radial-gradient-13);
}

.cls-72 {
    clip-path: url(#clip-path-10);
}

.cls-73 {
    fill: url(#radial-gradient-14);
}

.cls-74 {
    fill: url(#radial-gradient-15);
}

.cls-75 {
    fill: url(#radial-gradient-16);
}

.cls-76 {
    fill: url(#radial-gradient-18);
}

.cls-77 {
    fill: url(#radial-gradient-19);
}

.cls-78 {
    fill: url(#radial-gradient-25);
}

.cls-79 {
    fill: url(#radial-gradient-26);
}

.cls-80 {
    clip-path: url(#clip-path-11);
}

.cls-81 {
    fill: url(#radial-gradient-27);
}

.cls-82 {
    fill: url(#radial-gradient-28);
}

.cls-83 {
    fill: url(#radial-gradient-29);
}

.cls-84 {
    fill: url(#radial-gradient-32);
}

.cls-85 {
    fill: url(#radial-gradient-38);
}

.cls-86 {
    fill: url(#radial-gradient-39);
}

.cls-87 {
    clip-path: url(#clip-path-12);
}

.cls-88 {
    fill: url(#radial-gradient-40);
}

.cls-89 {
    fill: url(#radial-gradient-41);
}

.cls-90 {
    fill: url(#radial-gradient-42);
}

.cls-91 {
    fill: url(#radial-gradient-45);
}

.cls-92 {
    fill: url(#radial-gradient-51);
}

.cls-93 {
    fill: url(#radial-gradient-52);
}

.cls-94 {
    clip-path: url(#clip-path-13);
}

.cls-95 {
    fill: url(#linear-gradient-17);
}

.cls-96 {
    fill: url(#linear-gradient-18);
}

.cls-97 {
    fill: url(#linear-gradient-19);
}

.cls-98 {
    fill: #676767;
}

.cls-99 {
    clip-path: url(#clip-path-14);
}

.cls-100 {
    clip-path: url(#clip-path-15);
}

.cls-101 {
    clip-path: url(#clip-path-16);
}

.cls-102 {
    clip-path: url(#clip-path-17);
}

.cls-103 {
    clip-path: url(#clip-path-18);
}

.cls-104 {
    clip-path: url(#clip-path-19);
}

.cls-105 {
    clip-path: url(#clip-path-20);
}

.cls-106 {
    clip-path: url(#clip-path-21);
}

.cls-107 {
    fill: url(#linear-gradient-20);
}

.cls-108 {
    fill: url(#linear-gradient-21);
}

.cls-109 {
    fill: url(#linear-gradient-22);
}

.cls-110 {
    fill: url(#linear-gradient-23);
}

.cls-111 {
    fill: url(#linear-gradient-24);
}

.cls-112 {
    fill: url(#linear-gradient-25);
}

.cls-113 {
    fill: url(#linear-gradient-26);
}

.cls-114 {
    fill: url(#linear-gradient-27);
}

.cls-115 {
    fill: url(#linear-gradient-28);
}

.cls-116 {
    fill: url(#linear-gradient-29);
}

.cls-117 {
    fill: url(#linear-gradient-30);
}

.cls-118 {
    fill: url(#linear-gradient-31);
}

.cls-119 {
    fill: url(#linear-gradient-32);
}

.cls-120 {
    fill: url(#linear-gradient-33);
}

.cls-121 {
    fill: url(#linear-gradient-34);
}

.cls-122 {
    fill: url(#linear-gradient-35);
}

.cls-123 {
    clip-path: url(#clip-path-22);
}

.cls-124 {
    fill: url(#radial-gradient-53);
}

.cls-125 {
    fill: url(#radial-gradient-54);
}

.cls-126 {
    fill: url(#radial-gradient-55);
}

.cls-127 {
    fill: url(#radial-gradient-57);
}

.cls-128 {
    fill: url(#radial-gradient-58);
}

.cls-129 {
    fill: url(#radial-gradient-64);
}

.cls-130 {
    fill: url(#radial-gradient-65);
}

.cls-131 {
    clip-path: url(#clip-path-23);
}

.cls-132 {
    fill: url(#radial-gradient-66);
}

.cls-133 {
    fill: url(#radial-gradient-67);
}

.cls-134 {
    fill: url(#radial-gradient-68);
}

.cls-135 {
    fill: url(#radial-gradient-70);
}

.cls-136 {
    fill: url(#radial-gradient-71);
}

.cls-137 {
    fill: url(#radial-gradient-77);
}

.cls-138 {
    fill: url(#radial-gradient-78);
}

.cls-139 {
    clip-path: url(#clip-path-24);
}

.cls-140 {
    fill: url(#radial-gradient-79);
}

.cls-141 {
    fill: url(#radial-gradient-80);
}

.cls-142 {
    fill: url(#radial-gradient-81);
}

.cls-143 {
    fill: url(#radial-gradient-83);
}

.cls-144 {
    fill: url(#radial-gradient-84);
}

.cls-145 {
    fill: url(#radial-gradient-90);
}

.cls-146 {
    fill: url(#radial-gradient-91);
}

.cls-147 {
    clip-path: url(#clip-path-25);
}

.cls-148 {
    fill: url(#radial-gradient-92);
}

.cls-149 {
    fill: url(#radial-gradient-93);
}

.cls-150 {
    fill: url(#radial-gradient-94);
}

.cls-151 {
    fill: url(#radial-gradient-97);
}

.cls-152 {
    fill: url(#radial-gradient-103);
}

.cls-153 {
    fill: url(#radial-gradient-104);
}

.cls-154 {
    clip-path: url(#clip-path-26);
}

.cls-155 {
    fill: url(#linear-gradient-36);
}

.cls-156 {
    fill: url(#linear-gradient-37);
}

.cls-157 {
    fill: url(#linear-gradient-38);
}

.cls-158 {
    clip-path: url(#clip-path-27);
}

.cls-159 {
    clip-path: url(#clip-path-28);
}

.cls-160 {
    clip-path: url(#clip-path-29);
}

.cls-161 {
    clip-path: url(#clip-path-30);
}

.cls-162 {
    clip-path: url(#clip-path-31);
}

.cls-163 {
    clip-path: url(#clip-path-32);
}

.cls-164 {
    font-size: 0.26px;
}

.cls-165 {
    clip-path: url(#clip-path-33);
}

.cls-166 {
    clip-path: url(#clip-path-34);
}

.cls-167 {
    font-size: 0.14px;
    letter-spacing: 0.01em;
}

.cls-168 {
    font-size: 0.14px;
    letter-spacing: 0.02em;
}

.cls-169 {
    font-size: 0.14px;
}

.cls-170 {
    font-size: 0.14px;
}

.cls-171 {
    font-size: 0.14px;
    letter-spacing: 0em;
}

.cls-172, .cls-173, .cls-174, .cls-175, .cls-176, .cls-179, .cls-181, .cls-185 {
    font-size: 0.18px;
}

.cls-173 {
    letter-spacing: 0.01em;
}

.cls-174 {
    letter-spacing: -0.02em;
}

.cls-175, .cls-182 {
    letter-spacing: 0em;
}

.cls-176, .cls-184 {
    letter-spacing: -0.01em;
}

.cls-177 {
    letter-spacing: -0.04em;
}

.cls-178, .cls-181 {
    letter-spacing: 0em;
}

.cls-179 {
    letter-spacing: -0.02em;
}

.cls-180 {
    letter-spacing: 0.02em;
}

.cls-183 {
    letter-spacing: -0.04em;
}

.cls-185 {
    letter-spacing: -0.01em;
}

.cls-186 {
    fill: url(#linear-gradient-39);
}

.cls-187 {
    fill: url(#linear-gradient-40);
}

.cls-188 {
    fill: url(#linear-gradient-41);
}

.cls-189 {
    fill: url(#linear-gradient-42);
}

.cls-190 {
    fill: url(#linear-gradient-43);
}

.cls-191 {
    fill: url(#linear-gradient-44);
}

.cls-192 {
    fill: url(#linear-gradient-45);
}

.cls-193 {
    fill: url(#linear-gradient-46);
}

.cls-194 {
    fill: url(#linear-gradient-47);
}

.cls-195 {
    fill: url(#linear-gradient-48);
}

.cls-196 {
    fill: url(#linear-gradient-49);
}

.cls-197 {
    fill: url(#linear-gradient-50);
}

.cls-198 {
    fill: url(#linear-gradient-51);
}

.cls-199 {
    fill: url(#linear-gradient-52);
}

.cls-200 {
    fill: url(#linear-gradient-53);
}

.cls-201 {
    fill: url(#linear-gradient-54);
}

.cls-202 {
    clip-path: url(#clip-path-35);
}

.cls-203 {
    fill: url(#radial-gradient-105);
}

.cls-204 {
    fill: url(#radial-gradient-106);
}

.cls-205 {
    fill: url(#radial-gradient-107);
}

.cls-206 {
    fill: url(#radial-gradient-110);
}

.cls-207 {
    fill: url(#radial-gradient-116);
}

.cls-208 {
    fill: url(#radial-gradient-117);
}

.cls-209 {
    clip-path: url(#clip-path-36);
}

.cls-210 {
    fill: url(#radial-gradient-118);
}

.cls-211 {
    fill: url(#radial-gradient-119);
}

.cls-212 {
    fill: url(#radial-gradient-120);
}

.cls-213 {
    fill: url(#radial-gradient-121);
}

.cls-214 {
    fill: url(#radial-gradient-123);
}

.cls-215 {
    fill: url(#radial-gradient-129);
}

.cls-216 {
    fill: url(#radial-gradient-130);
}

.cls-217 {
    clip-path: url(#clip-path-37);
}

.cls-218 {
    fill: url(#radial-gradient-131);
}

.cls-219 {
    fill: url(#radial-gradient-132);
}

.cls-220 {
    fill: url(#radial-gradient-133);
}

.cls-221 {
    fill: url(#radial-gradient-135);
}

.cls-222 {
    fill: url(#radial-gradient-136);
}

.cls-223 {
    fill: url(#radial-gradient-142);
}

.cls-224 {
    fill: url(#radial-gradient-143);
}

.cls-225 {
    clip-path: url(#clip-path-38);
}

.cls-226 {
    fill: url(#radial-gradient-144);
}

.cls-227 {
    fill: url(#radial-gradient-145);
}

.cls-228 {
    fill: url(#radial-gradient-146);
}

.cls-229 {
    fill: url(#radial-gradient-148);
}

.cls-230 {
    fill: url(#radial-gradient-149);
}

.cls-231 {
    fill: url(#radial-gradient-155);
}

.cls-232 {
    fill: url(#radial-gradient-156);
}

.cls-233 {
    clip-path: url(#clip-path-39);
}

.cls-234 {
    fill: url(#linear-gradient-55);
}

.cls-235 {
    fill: url(#linear-gradient-56);
}

.cls-236 {
    fill: url(#linear-gradient-57);
}

.cls-237 {
    clip-path: url(#clip-path-40);
}

.cls-238 {
    clip-path: url(#clip-path-41);
}

.cls-239 {
    clip-path: url(#clip-path-42);
}

.cls-240 {
    clip-path: url(#clip-path-43);
}

.cls-241 {
    clip-path: url(#clip-path-44);
}

.cls-242 {
    clip-path: url(#clip-path-45);
}

.cls-243 {
    font-size: 0.28px;
}

.cls-244 {
    clip-path: url(#clip-path-46);
}

.cls-245 {
    clip-path: url(#clip-path-47);
}

.cls-246 {
    font-size: 0.16px;
    letter-spacing: 0.01em;
}

.cls-247 {
    font-size: 0.16px;
    letter-spacing: 0.02em;
}

.cls-248 {
    font-size: 0.16px;
}

.cls-249 {
    font-size: 0.16px;
}

.cls-250 {
    font-size: 0.16px;
    letter-spacing: 0em;
}

.cls-251, .cls-252, .cls-253, .cls-254, .cls-256, .cls-259, .cls-261, .cls-266 {
    font-size: 0.2px;
}

.cls-252 {
    letter-spacing: 0em;
}

.cls-253 {
    letter-spacing: -0.01em;
}

.cls-254, .cls-258 {
    letter-spacing: 0em;
}

.cls-255 {
    letter-spacing: 0.02em;
}

.cls-256, .cls-264 {
    letter-spacing: -0.01em;
}

.cls-257 {
    letter-spacing: -0.03em;
}

.cls-259 {
    letter-spacing: -0.02em;
}

.cls-260 {
    letter-spacing: 0.02em;
}

.cls-261 {
    letter-spacing: 0em;
}

.cls-262 {
    letter-spacing: -0.04em;
}

.cls-263 {
    letter-spacing: -0.03em;
}

.cls-265 {
    letter-spacing: -0.04em;
}

.cls-266 {
    letter-spacing: -0.01em;
}

.cls-267 {
    fill: url(#linear-gradient-58);
}

.cls-268 {
    fill: url(#linear-gradient-59);
}

.cls-269 {
    fill: url(#linear-gradient-60);
}

.cls-270 {
    fill: url(#linear-gradient-61);
}

.cls-271 {
    fill: url(#linear-gradient-62);
}

.cls-272 {
    fill: url(#linear-gradient-63);
}

.cls-273 {
    fill: url(#linear-gradient-64);
}

.cls-274 {
    fill: url(#linear-gradient-65);
}

.cls-275 {
    fill: url(#linear-gradient-66);
}

.cls-276 {
    fill: url(#linear-gradient-67);
}

.cls-277 {
    fill: url(#linear-gradient-68);
}

.cls-278 {
    fill: url(#linear-gradient-69);
}

.cls-279 {
    fill: url(#linear-gradient-70);
}

.cls-280 {
    fill: url(#linear-gradient-71);
}

.cls-281 {
    fill: url(#linear-gradient-72);
}

.cls-282 {
    fill: url(#linear-gradient-73);
}

.cls-283 {
    clip-path: url(#clip-path-48);
}

.cls-284 {
    fill: url(#radial-gradient-157);
}

.cls-285 {
    fill: url(#radial-gradient-158);
}

.cls-286 {
    fill: url(#radial-gradient-159);
}

.cls-287 {
    fill: url(#radial-gradient-161);
}

.cls-288 {
    fill: url(#radial-gradient-162);
}

.cls-289 {
    fill: url(#radial-gradient-168);
}

.cls-290 {
    fill: url(#radial-gradient-169);
}

.cls-291 {
    clip-path: url(#clip-path-49);
}

.cls-292 {
    fill: url(#radial-gradient-170);
}

.cls-293 {
    fill: url(#radial-gradient-171);
}

.cls-294 {
    fill: url(#radial-gradient-172);
}

.cls-295 {
    fill: url(#radial-gradient-173);
}

.cls-296 {
    fill: url(#radial-gradient-174);
}

.cls-297 {
    fill: url(#radial-gradient-175);
}

.cls-298 {
    fill: url(#radial-gradient-181);
}

.cls-299 {
    fill: url(#radial-gradient-182);
}

.cls-300 {
    clip-path: url(#clip-path-50);
}

.cls-301 {
    fill: url(#radial-gradient-183);
}

.cls-302 {
    fill: url(#radial-gradient-184);
}

.cls-303 {
    fill: url(#radial-gradient-185);
}

.cls-304 {
    fill: url(#radial-gradient-188);
}

.cls-305 {
    fill: url(#radial-gradient-194);
}

.cls-306 {
    fill: url(#radial-gradient-195);
}

.cls-307 {
    clip-path: url(#clip-path-51);
}

.cls-308 {
    fill: url(#radial-gradient-196);
}

.cls-309 {
    fill: url(#radial-gradient-197);
}

.cls-310 {
    fill: url(#radial-gradient-198);
}

.cls-311 {
    fill: url(#radial-gradient-200);
}

.cls-312 {
    fill: url(#radial-gradient-201);
}

.cls-313 {
    fill: url(#radial-gradient-207);
}

.cls-314 {
    fill: url(#radial-gradient-208);
}

.cls-315 {
    clip-path: url(#clip-path-52);
}

.cls-316 {
    fill: url(#linear-gradient-74);
}

.cls-317 {
    fill: url(#linear-gradient-75);
}

.cls-318 {
    fill: url(#linear-gradient-76);
}

.cls-319 {
    stroke: #1d1d1b;
    stroke-width: 2px;
}
